sources:
  /home/ec2-user/s3tools: https://usergrid-beanstalk-config.s3.amazonaws.com/s3tools.zip
container_commands:
  01_configure_perms:
    command: chmod 777 /home/ec2-user/s3tools/s3cmd
  02_get_usergrid_config:
    command: /home/ec2-user/s3tools/s3cmd get s3://$PARAM1/$PARAM2/usergrid-deployment.properties /usr/share/tomcat7/lib/usergrid-deployment.properties --access_key="$AWS_ACCESS_KEY_ID"  --secret_key="$AWS_SECRET_KEY" --force --config noop
  03_get_new_relic_config:
    command: /home/ec2-user/s3tools/s3cmd get s3://$PARAM1/$PARAM2/newrelic.yml /usr/share/tomcat7/newrelic/newrelic.yml --access_key="$AWS_ACCESS_KEY_ID"  --secret_key="$AWS_SECRET_KEY" --force --config noop