<div class="content-page">
  <section class="row-fluid">

    <div class="span12">
      <div class="page-filters">
        <h1 class="title" class="pull-left"><i class="pictogram title">&#59170;</i> Roles </h1>
        <a class="help_tooltip" ng-mouseover="help.sendTooltipGA('roles page title')" ng-show="help.helpTooltipsEnabled" href="#" ng-attr-tooltip="{{tooltip_roles_page_title}}" tooltip-placement="right">(?)</a>
      </div>
    </div>

  </section>

  <div id="user-panel" class="panel-buffer">
    <ul id="user-panel-tab-bar" class="nav nav-tabs">
      <li><a href="javaScript:void(0);" ng-click="gotoPage('roles')">Roles List</a></li>
      <li ng-class="settingsSelected"><a href="javaScript:void(0);" ng-click="gotoPage('roles/settings')">Settings</a></li>
      <li ng-class="usersSelected"><a href="javaScript:void(0);" ng-click="gotoPage('roles/users')">Users</a></li>
      <li ng-class="groupsSelected"><a href="javaScript:void(0);" ng-click="gotoPage('roles/groups')">Groups</a></li>
    </ul>
  </div>

  <div style="float: left; margin-right: 10px;">
    <div style="float: left;">
      <div class="user-header-title"><strong>Role Name: </strong>{{selectedRole.name}}</div>
      <div class="user-header-title"><strong>Role Title: </strong>{{selectedRole.title}}</div>
    </div>
  </div>

</div>
<br>
<br>