html,body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
}

.shrink-font {
  font-size: 80%;
}

a:link {
  color: #111;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000 !important;
  text-decoration: none;
}

a:active {
  color: #000;
  text-decoration: none;
}

#console-nav-bar {
  width: 100%;
}

.page-nav-bar {
  background-image: url("../images/usergrid_200.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 16px 6px;
  background-color: #e3e3e3;
  width: 100%;
  height: 54px;
  max-height: 54px;
  border-bottom: 1px solid #808080;
  min-width: 1024px;
}

.page-nav-bar-breadcrumbs {
  margin: 0px 0px 0px 240px;
  padding-top: 16px;
  font-size: 24px;
  font-weight: bold;
  color: #777;
  float: left;
}

.page-nav-bar-breadcrumbs-symbols {
  font-size: 22px;
}

.page-nav-bar a,.page-nav-bar a:link,.page-nav-bar a:visited,.page-nav-bar a:hover,.page-nav-bar a:active
{
  color: #777;
  text-decoration: none;
}

.page-nav-bar-right {
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: #2694e8;
  padding-top: 14px;
  padding-right: 30px;
}

.page-nav-bar-right a,.page-nav-bar-right a:link,.page-nav-bar-right a:visited,.page-nav-bar-right a:hover,.page-nav-bar-right a:active
{
  color: #2694e8;
  text-decoration: none;
}

.panel-content {
  width: 100%;
  margin: 0px;
  padding: 32px 32px 0px 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#console-page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#console-columns {
  width: 100%;
  height: 100%;
}

.console-section {
  width: 100%;
  margin: 0px 0px 21px 0px;
  min-width: 600px;
}

.console-section-header {
  height: 28px;
  margin: 0px 0px 0px 0px;
  padding: 7px 8px 2px 8px;
  background-color: #deedf7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  min-width: 300px;
}

.console-section-title {
  font-size: 22px;
  padding-left: 8px;
  font-weight: bold;
}

.console-section-header-right {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #2694e8;
  padding-top: 5px;
  padding-right: 20px;
}

.console-section-header-right a,.console-section-header-right a:link,.console-section-header-right a:visited,.console-section-header-right a:hover,.console-section-header-right a:active
{
  color: #2694e8;
  text-decoration: none;
}

.console-section-contents {
  border-top-width: 0px !important;
  padding: 32px 24px 24px 24px;
  background-color: #f2f5f7;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#sidebar-menu {
  width: 200px;
  height: 100%;
  border-right: 1px solid #808080;
  float: left;
}

#console-panels {
  overflow-x: hidden;
  overflow-y: auto;
  height: 94%;
}

.panel-buttons .ui-selecting {
  background: #FECA40;
}

.panel-buttons .ui-selected {
  background: #F39814;
  color: white;
}

.panel-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.panel-buttons li {
  margin: 3px;
  padding: 0.4em;
  font-size: 18px;
  font-weight: bold;
  height: 18px;
  cursor: pointer;
}

.console-tab-bar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  height: 36px;
  padding-left: 31px;
}

.console-tab-bar button {
  margin-top: 4px;
  font-size: 12px;
  height: 33px;
  width: 120px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.console-tab-bar .tab-bar-selection {
  background-color: #ffffff !important;
  background-image: none !important;
  border-bottom: 1px solid #ffffff !important;
}

.console-panel-nav-bar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  height: 36px;
  padding-left: 31px;
}

.console-panel-nav-bar table {
  width: 100%;
}

.console-panel-nav-bar .console-panel-nav-bar-tabs {
  text-align: right;
  padding-right: 32px
}

.console-panel-nav-bar button {
  margin-top: 4px;
  font-size: 12px;
  height: 33px;
  width: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.console-panel-nav-bar .tab-bar-selection {
  background-color: #ffffff !important;
  background-image: none !important;
  border-bottom: 1px solid #ffffff !important;
}

/*******************************************************************
 *
 * Query Explorer
 *
 *******************************************************************/
#query-panel {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

#query-path-area {
  margin: 0px;
  padding: 8px 32px 0px 32px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#query-panel h2 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 11px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

#query-inputs {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}

#query-inputs td {
  padding: 1px;
}

.query-left-col {
  width: 1%;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
}

.query-middle-col {
  white-space: nowrap;
}

.query-right-col {
  width: 1%;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 12px;
}

#query-path-area button {
  margin: 0px 4px 0px 4px;
}

.query-input-box {
  border: 1px solid #A9A9A9;
  vertical-align: middle;
}

.query-input-box input {
  width: 85%;
  font-size: 24px;
  border: none;
  padding: 2px;
  float: left;
}

.query-input-box input:focus {
  outline: none;
}

#button-clear-path {
  font: normal normal normal 28px/normal arial, sans-serif;
  padding: 4px 6px 2px 0px;
  float: right;
  white-space: nowrap;
  vertical-align: middle;
  height: 100%;
}

#button-clear-ql {
  font: normal normal normal 28px/normal arial, sans-serif;
  padding: 4px 6px 2px 0px;
  float: right;
  white-space: nowrap;
  vertical-align: middle;
  height: 100%;
}

#query-source-area {
  width: 100%;
  margin: 0px;
}

#query-source {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  height: 60px;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  margin: 8px 0px 16px 0px;
  overflow: auto;
  max-height: 150px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#query-source-features {
  font-size: 12px;
}

#query-status {
  padding: 8px 0px 8px 8px;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0px;
  margin-right: 0px;
  white-space: pre;
}

.query-pass {
  background-color: #efe;
  color: #393;
  border: 2px solid #393;
}

.query-fail {
  background-color: #fee;
  color: #933;
  border: 2px solid #933;
}

.fb-buttons {
  margin-left: 40px;
}

#query-response-area {
  width: 100%;
  margin: 0px;
  padding: 0px 32px 72px 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#query-response-table {

}

#query-response-message {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #666;
  background-color: #eee;
  padding: 18px 0px 8px 8px;
  margin: 8px 0px 8px 0px;
  min-height: 32px;
}

.query-response-json {
  font-family: sans-serif;
  font-size: 12px;
  border: 1px solid #666;
  background-color: #eee;
  padding: 8px 0px 8px 8px;
  margin: 8px 0px 8px 0px;
  min-height: 40px;
}

.query-result-row {
  margin: 0px 0px 8px 0px;
}

.query-result-portlet {
  font-size: 12px;
  border: 1px solid #666;
  background-color: #eee;
  padding: 0px;
  margin: 8px 0px 8px 8px;
}

.query-result-portlet-title {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #666;
  background-color: #ccc;
  padding: 2px 4px;
}

.query-result-portlet table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}

.query-result-portlet td {
  border: 1px solid #ccc;
}

.query-result-portlet td>div {
  padding: 4px 4px;
}

.query-result-json-border {
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 0px 0px 8px;
}

.query-result-json-inner {
  padding: 8px 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 12px;
}

.query-result-header {
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid #666;
  background-color: #f0f0f0;
}

.query-result-user-picture {
  width: 50px;
  height: 50px;
  border-right: 1px solid #666;
  line-height: 0px;
}

.query-result-table {
  margin: 0px;
  width: 100%;
}

.query-result-td-checkbox input {
  width: 20px;
}

.query-result-td-checkbox {
  background-color: #888;
  vertical-align: middle;
  width: 20px;
  border-right: 1px solid #666;
}

.query-result-td-picture {
  line-height: 0px;
  vertical-align: middle;
  width: 50px;
}

.query-result-td-header-name {
  vertical-align: middle;
}

.query-result-td-header-buttons {
  vertical-align: middle;
  text-align: right;
  padding: 4px 8px;
}

.query-result-header-name {
  padding-left: 8px;
  font-size: 18px;
}

.query-result-td-header-buttons button {
  font-size: 12px;
  margin: 0px 0px 0px 8px;
}

.query-result-td-header-buttons a {
  font-size: 12px;
  margin: 0px 0px 0px 8px;
  color: #2779AA;
}

#query-received-header {
  margin-top: 20px;
}

#query-status-header {
  margin-top: 20px;
}

#query-next-prev {
  font-size: 12px;
  padding-bottom: 32px;
}

#button-query-prev {
  float: left;
}

#button-query-next {
  float: right;
}

.query-result-form label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  padding: 5px;
  text-align: right;
}

.query-result-form input {
  width: 180px;
  padding: 2px;
  margin: 4px;
}

.query-result-form fieldset {
  border: 1px solid #666;
  margin: 8px;
  padding: 4px;
}

.query-result-form fieldset label {
  width: 107px;
}

.query-result-form legend {
  font-weight: bold;
  padding: 2px;
}

.query-result-form br {
  clear: left;
}

.query-result-form .submit input {
  margin-left: 4.5em;
}

/*******************************************************************
 *
 * Login
 *
 *******************************************************************/
#login-page {
  background-image: url("../images/usergrid_400.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 16px 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#login-area {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 30em;
  height: 23em;
  margin-top: -11.5em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

#login-form {
  margin-left: 8px;
  padding: 16px 16px 60px 16px;
  font-weight: normal;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
  -webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
  -khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
  box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
}

#login-form p {
  margin-bottom: 0;
}

#login-form a {
  color: #777;
}

#login-form label {
  color: #777;
  font-size: 16px;
}

#login-links {
  color: #777;
  float: left;
  margin-top: 10px;
  font-size: 18px;
}

#login-title {
  color: #777;
  font-size: 24px;
  margin-bottom: 4px;
}

#login-form hr {
  margin-bottom: 24px;
  border: none 0;
  border-top: 1px solid #777;
}

#forgot-password-link {
  margin-left: 24px;
}

#login-form .submit,.alignright {
  float: right;
}

#login-form .submit {
  padding-bottom: 24px;
}

#login-message,.message {
  margin: 0 0 16px 8px;
  border-width: 1px;
  padding: 12px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#login-form .inputFields {
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 4px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #555;
}

#login-area .clear {
  clear: both;
}

#the-grid {
  position: absolute;
  width: 800px;
  left: 24px;
  top: 120px;
  font-size: 14px;
  color: transparent;
  font-family: palatino;
  font-style: italic;
  -webkit-transition: color 2s ease-in; /*safari and chrome */
  -o-transition: color 2s ease-in; /* opera */
  -moz-transition: color 2s ease-in; /*safari and chrome */
  transition: color 2s ease-in; /*safari and chrome */
}

#the-grid p {
  padding: 4px;
}

#the-grid:hover {
  color: #999;
}

/*******************************************************************
 *
 * Signup
 *
 *******************************************************************/
#signup-page {
  background-image: url("../images/usergrid_400.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 16px 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#signup-area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50em;
  height: 30em;
  margin-top: -15em; /*set to a negative number 1/2 of your height*/
  margin-left: -25em; /*set to a negative number 1/2 of your width*/
}

#signup-form {
  margin-left: 8px;
  padding: 16px 16px 60px 16px;
  font-weight: normal;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
  -webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
  -khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
  box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
}

#signup-form-table {
  width: 100%;
}

#signup-form-table .left-td {
  padding: 8px 16px 8px 0px;
}

#signup-form-table .right-td {
  padding: 8px 0px 8px 16px;
}

#signup-form p {
  margin-bottom: 0;
}

#signup-form label {
  color: #777;
  font-size: 16px;
}

#signup-links {
  color: #777;
  float: left;
  margin-top: 10px;
  font-size: 18px;
}

#signup-title {
  color: #777;
  font-size: 24px;
  margin-bottom: 4px;
}

#signup-form hr {
  margin-bottom: 24px;
  border: none 0;
  border-top: 1px solid #777;
}

#signup-form .submit,.alignright {
  float: right;
}

#signup-form .submit {
  padding-bottom: 24px;
}

#signup-message,.message {
  margin: 0 0 16px 8px;
  border-width: 1px;
  padding: 12px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#signup-form .inputFields {
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 4px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #555;
}

#signup-area .clear {
  clear: both;
}

/*******************************************************************
 *
 * Dashboard
 *
 *******************************************************************/
#dashboard-panel {
  width: 100%;
  height: 100%
}

#dashboard-applications {
  margin-bottom: 40px;
}

.application-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.application-row-uuid {
  font-size: 14px;
  font-family: monospace;
  color: #404040;
}

#dashboard-admins {
  margin-bottom: 40px;
}

.admin-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.dialog-form label,.dialog-form input {
  display: block;
}

.dialog-form input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: .4em;
}

.dialog-form fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}

.dialog-form h1 {
  font-size: 1.2em;
  margin: .6em 0;
}

.dialog-form .ui-dialog .ui-state-error {
  padding: .3em;
}

.dialog-form .validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

/*******************************************************************
 *
 * Application
 *
 *******************************************************************/
#application-panel {
  width: 100%;
  height: 100%
}

#application-collections {
  margin-bottom: 20px;
}

.collection-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.collection-row-count {
  font-size: 14px;
  font-family: monospace;
  color: #404040;
}

.application-usage-graph {
  display: inline-block;
  padding-bottom: 16px;
}

#applicationSelectForm {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
}

#applicationSelectForm fieldset {
  border: 0;
}

#applicationSelectForm  label {
  margin: 3px 0px 3px 0px;
  padding: 0.4em;
  font-size: 18px;
  font-weight: bold;
  height: 18px;
}

#applicationSelectForm  label,#applicationSelectForm select,#applicationSelectForm .ui-select-menu
{
  float: left;
  margin-right: 10px;
}

#applicationSelectForm select {
  width: 190px;
  font-size: 16px !important;
}

.ui-selectmenu {
  font-size: 16px !important;
}

#application-panel-entity-counts td {
  padding: 4px;
}

#application-panel-entity-graph {
  vertical-align: top;
  width: 400px;
  height: 300px;
}

#application-panel-text {
  vertical-align: top;
  margin-left: 50px;
}

#application-panel-entity-total {
  border-top: 1px solid black;
}

#organization-panel-key-table td {
  padding: 8px;
  font-size: 18px !important;
}

.organization-panel-key-label {
  font-weight: bold;
}

.organization-panel-key-value {

}

.organization-activity-row {
  margin-bottom: 16px;
}

#application-panel-key-table td {
  padding: 8px;
  font-size: 18px !important;
}

.application-panel-key-label {
  font-weight: bold;
}

.application-panel-key-value {

}

#test-items {
  margin-bottom: 32px;
}

.test-item {
  padding-bottom: 24px;
  padding-right: 24px;
}

#organizationSelectForm {
  float: left;
  margin-right: 24px;
  margin-top: -4px;
}

#organizationSelectForm fieldset {
  border: 0;
}

#organizationSelectForm  label,#organizationSelectForm select,#organizationSelectForm .ui-select-menu
{
  float: left;
  margin-right: 10px;
}

#organizationSelectForm select {
  width: 190px;
  font-size: 16px !important;
}

#logged-in-user-name {
  float: left;
  margin-top: 4px;
  margin-right: 24px;
  font-size: 18px;
  cursor: pointer;
}

#return-to-console {
  font-size: 18px;
}

#logout-link {
  margin-top: 4px;
  font-size: 18px;
}

/*******************************************************************
 *
 * Roles
 *
 *******************************************************************/

.role-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.role-row-name {
  font-size: 14px;
  font-family: monospace;
  color: #404040;
}

#role-permissions-table th {
  font-weight: bold;
  height: 20px;
}

#role-permissions-table tr {
  vertical-align: middle;
}

#role-permissions-table td {
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 2px;
  height: 24px;
}

.role-permission-op div {
  width: 16px !important;
  margin: auto;
}

.role-permission-op {
  width: 72px !important;
  min-width: 72px !important;
  text-align: center;
}

.role-permission-path {
  width: 100%;
  padding-left: 8px;
  text-align: left;
}

#role-permission-path-entry-td {
  background-color: #ddd;
}

#role-permission-path-entry-input {
  width: 100%;
  background-color: #FFF;
  border: none;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#indexSelectForm {
  display: inline;
  float: right;
}

#indexSelectForm .ui-corner-all,#indexSelectForm .ui-corner-top,#indexSelectForm .ui-corner-bottom
{
  border-radius: 0px !important;
}

#indexSelectForm .ui-state-default {
  border: 0 !important;
  background: #ffffff !important;
}

#indexSelectForm .ui-selectmenu-status {
  color: white;
  width: 16px !important;
}

#indexSelectForm .ui-selectmenu-icon {
  width: 16px !important;
  background-image: url(custom-theme/images/ui-icons_000000_256x240.png) !important;
}

#indexSelect-button {
  width: 16px !important;
}

/*******************************************************************
 *
 * Users
 *
 *******************************************************************/

#users-response-area {
  width: 100%;
}

#users-response-area-contents {
  width: 99%;
}

#users-by-alphabetical-cell {
  text-align: center;
  vertical-align: top;
}

#users-by-alphabetical {
  text-align: center;
  width: 32px;
  margin-left: 16px;
  border-radius: 14px;
  padding: 8px 4px 8px 4px;
  background-color: #333;
  color: white !important;
}

#users-by-alphabetical * {
  color: white !important;
  line-height: 20px;
}

#users-next-prev {
  font-size: 12px;
  padding-bottom: 32px;
}

.user-profile-header {
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid #AED0EA;
  background-color: #DEEDF7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.user-profile-picture {
  float: left;
  width: 50px;
  height: 50px;
  border-right: 1px solid #AED0EA;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.user-profile-picture-vert-offset {
  margin: 8px 0px 0px 0px;
}

.user-profile-header-name {
  float: left;
  padding: 8px;
  font-size: 18px;
}

.user-roles-title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #AED0EA;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.user-role-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.user-role-row-name {
  font-size: 14px;
  font-family: monospace;
  color: #404040;
}

.user-permissions-title {
  margin-top: 32px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #AED0EA;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.user-group-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.user-group-row-name {
  font-size: 14px;
  font-family: monospace;
  color: #404040;
}

#button-users-prev {
  float: left;
}

#button-users-next {
  float: right;
}

/*******************************************************************
 *
 * Groups
 *
 *******************************************************************/

#groups-response-area {
  width: 100%;
}

#groups-response-area-contents {
  width: 99%;
}

#groups-by-alphabetical-cell {
  text-align: center;
  vertical-align: top;
}

#groups-by-alphabetical {
  text-align: center;
  width: 32px;
  margin-left: 16px;
  border-radius: 14px;
  padding: 8px 4px 8px 4px;
  background-color: #333;
  color: white !important;
}

#groups-by-alphabetical * {
  color: white !important;
  line-height: 20px;
  cursor: pointer;
}

#groups-next-prev {
  font-size: 12px;
  padding-bottom: 32px;
}

.group-details-header {
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid #AED0EA;
  background-color: #DEEDF7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.group-details-header-name {
  float: left;
  padding: 8px;
  font-size: 18px;
}

.group-roles-title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #AED0EA;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.group-role-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.group-role-row-name {
  font-size: 14px;
  font-family: monospace;
  color: #404040;
}

.group-permissions-title {
  margin-top: 32px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #AED0EA;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.group-group-row {
  font-size: 18px;
  margin-bottom: 16px;
}

.group-group-row-name {
  font-size: 14px;
  font-family: monospace;
  color: #404040;
}

#button-groups-prev {
  float: left;
}

#button-groups-next {
  float: right;
}

#groups-response-table .query-result-table {
  height: 36px;
}

/*******************************************************************
 *
 * Home
 *
 *******************************************************************/


#account-page {
  height: 100%;
}

#account-panels {
  overflow-x: hidden;
  overflow-y: auto;
  height: 94%;
}

#account-panel-table {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#account-panel-left {
  width: 60%;
}

#account-panel-right {
  width: 40%;
}

/*******************************************************************
 *
 * Analytics
 *
 *******************************************************************/

#start-date {
  width: 100px;
}

#start-time {
  width: 70px;
}

#end-date {
  width: 100px;
}

#end-time {
  width: 70px;
}

#analytics-end-time-span {
  padding-left: 32px;
}

#resolutionSelectForm {
  display: inline-block;
  margin-left: 32px;
}

#resolutionSelectForm select {
  width: 190px;
  font-size: 16px !important;
}

#analytics-time table,#analytics-time tr,#analytics-time td {
  margin: 0px;
  padding: 0px;
}

#analytics-time td {
  vertical-align: middle;
}

#button-analytics-generate {
  margin-left: 32px;
}

.analytics-counter-checkbox {
  margin-right: 8px;
}

#analytics-counter-names {
  margin-top: 8px;
  width: 100%;
}

#analytics-counter-names-table {
}

.analytics-counter {
  padding-right: 16px;
}

#analytics-time {
  margin-bottom: 32px;
  min-width: 800px;
}

#analytics-graph-table {
  border-collapse: collapse;
  width: 950px;
  margin-left: 30px;
  background-color: #ffffff;
}

#analytics-graph-table td,#analytics-graph-table th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 2px 2px;
  font-size: .875em;
  width: 13%;
  vertical-align: middle;
  white-space: nowrap;
}

#analytics-graph-table td {
  max-width: 100px;
  min-width: 100px;
  width: auto !important;
}

#analytics-graph-table .accessHide {
  position: absolute;
  left: -999999px;
}

#analytics-graph-table th {
  background-color: #f4f4f4;
}

#analytics-graph-table caption {
  font-size: 1em;
}

#analytics-graph .visualize-labels-x .label {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  font-size: .875em;
  margin-top: 20px;
}

#analytics-graph .visualize {
  height: 550px !important;
}

/*******************************************************************
 *
 * Shell
 *
 *******************************************************************/

#shell-content {
  width: 100%;
  margin: 0px;
  padding: 16px 32px 0px 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#shell-content * {
  font-size: 14px;
  font-family: monospace;
}

#shell-output {
  width: 100%;
  padding: 0px;
  margin: 32px 0px 0px 0px;
}

#shell-input-div {
  padding: 0px;
  width: 100%;
  margin: 0px;
}

#shell-input {
  border: none;
  overflow: auto;
  padding: 0px;
  width: 100%;
  outline: none;
  margin: -17px 0px 0px 16px;
}

.shell-output-line {
  margin: 0px 0px 8px 0px;
}

.shell-output-line-content {
  margin: 0px;
  white-space: pre;
}

.shell-prompt {
  float: left;
  width: 16px;
  height: 16px;
}

#api-activity {
  font-size: 14px;
  text-align: center;
  background-color: #fff29e;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  z-index: 9999;
  width: 100px;
  height: 20px;
  padding-top: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*******************************************************************
 *
 * Account
 *
 *******************************************************************/

#update-account-id-label {
  float: left;
  margin-top: 8px;
  font-size: 18px;
}

#update-account-id {
  margin-left: 200px;
  margin-bottom: 8px;
  font-size: 18px;
  width: 400px;
  height: 32px;
  display: block;
  padding-left:8px;
}

#update-account-form label {
  float: left;
  margin-top: 8px;
  font-size: 18px;
}

#update-account-form .submit {
  width: 612px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

#update-account-form .submit div {
  float: left;
  margin-top: 14px;
  font-size: 14px;
}

#update-account-form .submit input {
  float: right;
}

#update-account-form input.text, #update-account-form input.password {
  margin-left: 200px;
  margin-bottom: 8px;
  font-size: 18px;
  width: 400px;
  height: 32px;
  background: #fbfbfb;
  color: #555;
  display: block;
  padding-left:8px;
}

.organization-row {
  width: 100%;
  height: 50px;
}

.organization-row-buttons {
  float: right;
}

.organization-row-link {
  float: left;
  padding-top: 8px;
}

.organization-row-buttons a {
  height: 28px;
  font-size: 16px;
}

.organization-row-buttons .ui-button-text {
  padding-top: 2px !important;
}

.suggestionsBox{
  display: none;
  border: 1px solid #222;
  width: 300px;
  z-index: 99;
}
