<div class="content-page">

  <h4>Entity Detail</h4>
  <div class="well">
    <a href="#!/data" class="outside-link"><< Back to collection</a>
  </div>
  <fieldset>
    <div class="control-group">
      <strong>Path </strong>
      <div class="controls">
        {{entityType}}/{{entityUUID}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="query-source"><strong>JSON Body</strong></label>
      <div class="controls">
        <textarea ng-model="queryBody" class="span6 pull-left" rows="12">{{queryBody}}</textarea>
        <br>
        <a class="btn pull-left" ng-click="validateJson();">Validate JSON</a>
      </div>
    </div>
    <div style="clear: both; height: 10px;"></div>
    <div class="control-group">
      <button type="button" class="btn btn-primary" id="button-query" ng-click="saveEntity();">Save</button>
      <!--button type="button" class="btn btn-primary" id="button-query" ng-click="run();">Delete</button-->
    </div>
  </fieldset>

</div>

