.DS_Store
.AppleDouble
.LSOverride
target

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/portal/performance/
/portal/node_modules/
/portal/dist/
/portal/dist-cov/
/portal/bower_components
/portal/.idea
/portal/2.0.**
/portal/js/libs/*.js
/portal/js/usergrid.min.js
/portal/js/usergrid-dev.min.js
/portal/test/coverage/instrument/js/usergrid-coverage.min.js
/portal/test/coverage/instrument/js/usergrid.min.js
/stack/corepersistence/priamcluster/aws.properties
# Eclipse IDE files
.project
.classpath
.settings/
.metadata/
#Webstorm artifacts
#Webstorm/IntelliJ artifacts
.idea/
*.iml
stack/corepersistence/collection/nbactions.xml
stack/corepersistence/graph/nbactions.xml
stack/corepersistence/model/nbactions.xml
stack/corepersistence/nbactions.xml
stack/corepersistence/queryindex/nbactions.xml
stack/corepersistence/queryindex/src/main/java/org/apache/usergrid/persistence/query/tree/QueryFilterLexer.java
stack/corepersistence/queryindex/src/main/java/org/apache/usergrid/persistence/query/tree/QueryFilterParser.java
/stack/corepersistence/perftest2/src/main/resources/finefoods.txt
/stack/corepersistence/perftest1/src/main/resources/finefoods.txt
/stack/corepersistence/perftest2/nbactions.xml
/stack/corepersistence/perftest1/nbactions.xml
/stack/corepersistence/perftest1/src/main/resources/usergrid.properties
/stack/corepersistence/perftest2/src/main/resources/usergrid.properties
portal/nbproject/private/private.properties
portal/nbproject/private/private.xml
portal/nbproject/project.properties
portal/nbproject/project.xml
aws.properties
usergrid-UNIT.properties
/portal/nbproject/private/
/portal/js/templates.js
/portal/index.html
/portal/index-debug.html
/portal/dist/*
/portal/dist/usergrid-portal/
/portal/dist/appsvc-ui/
/portal/nbproject/project.properties
/portal/nbproject/project.xml
/stack/corepersistence/queryindex/src/main/java/org/apache/usergrid/persistence/index/query/tree/QueryFilterParser.java
/stack/corepersistence/queryindex/src/main/java/org/apache/usergrid/persistence/index/query/tree/QueryFilterLexer.java
portal/js/templates.js
/stack/corepersistence/queryindex/src/main/java/org/apache/usergrid/persistence/index/query/tree/CpQueryFilterLexer.java
/stack/corepersistence/queryindex/src/main/java/org/apache/usergrid/persistence/index/query/tree/CpQueryFilterParser.java
/stack/corepersistence/queryindex/src/main/java/CpQueryFilter.tokens

/portal/dist/usergrid-portal.zip

/portal/js/usergrid-dev.js

/portal/js/generated/

/portal/js/generated-templates/
/release/target/

/portal/seleniumLog.txt
/stack/core/src/main/java/org/apache/usergrid/persistence/query/tree/QueryFilterLexer.java
/stack/core/src/main/java/org/apache/usergrid/persistence/query/tree/QueryFilterParser.java
!/stack/corepersistence/common/src/test/resources/usergrid-UNIT.properties
*.iml
sdks/dotnet/samples/notifications/packages/*
/sdks/html5-javascript/node_modules/


/stack/rest_integration_tests/node_modules
/stack/rest_integration_tests/config/override.js