$apigee-logo           : inline-image('logo-white.png');
$redApigee             : #ff4300;
$grayApigee            : #575560;
$border                : #c9c9c9;
$border2               : #e5e5e5;
$modalBar              : #f2f2f2;
$h3Color               : #ccc;
$minScreenWidth        : 640px;
$maxPanelWidth         : 1280px;
$linkHoverBgColor      : #e5e5e5;
$linkColor             : #1b97d1;
$apigeeOrange          : #ff4300;
$apigeeNavSelection    : #ff0303;
$apigeeApplicationName : #b22714;
$apigeeGradient        : #f03800;
$apigeeBlue            : #1b97d1;

@import "compass/reset";
@import "bootstrap";

//--------------General ------------------------------------------------------------
html, body {
    height: 100%;
    min-width: $minScreenWidth;
}

html {
    border-left: 1px solid $border;
    border-right: 1px solid $border;
}

a {
    color: $black;
    cursor: pointer;

    &:link {
        color: #111;
        text-decoration: none;
    }

    &:visited {
        color: $black;
        text-decoration: none;
    }

    &:hover {
        color: $redApigee;
        text-decoration: none;
    }

    &:active {
        color: $black;
        text-decoration: none;
    }
}

.title {
    font-size: 17px;
}

.thingy {
    margin-bottom: 0px !important;
    padding: 10px 10px 10px 0!important;
    //background-color: #e0e0e0 !important;
    border-radius: 0px;
    min-width: 440px;

    .gravatar50 {
        position: relative;
        float: left;
        margin-top: -15px;
        right: 15px;
    }

    .app_title {
        padding-right: 20px;
    }

    .bar a {
        float: right;
    }

    .button {
        margin-top: -5px;
        min-width: 150px;
    }

    .btn-primary {
        color: #ffffff;
    }
}

.monospace {
    font-family: monospace !important;
}

#selectedApp {
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#fullContainer {
    position: relative; /* needed for footer positioning*/
    height: auto !important; /* real browsers */
    min-height: 100%; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-width: $minScreenWidth;
    max-width: $maxPanelWidth;
}

.header-menus {
    margin: 0 auto;
}

#pages {
    padding: 0px 0 50px 0px;

    & > div{
        display: none;
    }

    .alert-error{
        display: none;
    }
}

#right {
    a {
        color: $apigeeBlue;
        font-weight: 400;

        &:visited  {
            color: $apigeeBlue;
            font-weight: 400;
        }
    }
}

#copyright {
    padding: 5px;
}

.clear {
    clear: both;
}

.marginless {
    margin: 0 !important;
}

//----------Header ------------------------------------------------------------
.navbar.navbar-fixed-top:before{
    content: " ";
    display: block;
    background: #F93F00;
    overflow: hidden;
    width: 100%;
    height: 8px;
    margin-bottom: -8px;
    position: absolute;
    background-image: -moz-linear-gradient(top, $apigeeOrange, $apigeeGradient);
    background-image: -ms-linear-gradient(top, $apigeeOrange, $apigeeGradient);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($apigeeOrange), to($apigeeGradient));
    background-image: -webkit-linear-gradient(top, $apigeeOrange, $apigeeGradient);
    background-repeat: repeat-x;
    bottom: 8px;
    left: 0px;
}


.navbar {
    height:48px;
    min-width: 760px;
    background-color: $apigeeOrange;
    margin: 0px 1px 20px 1px;

    .navbar-inner{
        display: none;

        b.caret {
            position: relative;
            display: inline-block;
            float: left;
            top: 48px;
            left: -83px;
            border-top: 8px solid $apigeeGradient;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            opacity: 1;
        }
    }

    h1, h2{
        display: inline;
        float:left;
        color: $white;
        font-weight: normal;
    }

    h1 {
        height: 32px;
        width: 64px;
        overflow: hidden;
        position: relative;
        color: transparent !important;
        margin: 0 15px;
        padding-top: 8px;
    }

    h2 {
        font-size:13px;
        padding: 5px;
        line-height: 35px;
        padding-top: 8px;
        color: $white;

        a {
            color: $white;
        }
    }

    .secondary-nav {
        float: right;
    }

    .nav {
        li {
            a {
                text-shadow: 0 0px 0 white;
                padding: 13px 10px 11px;
                font-weight: normal;
                color: $white;
                line-height: 24px;
            }

            #console-link:hover {
                background-color: transparent;
            }
        }

        .dropdown-toggle {
            span {
                margin-left: 5px;
            }

            .caret {
                margin-top: 13px;
            }
        }

        .dropdown-menu {
            a {
                line-height: 18px;
                color: $black;
                padding: 3px 15px;

                &:hover {
                    color: $white;
                    background-color: $apigeeBlue;
                }
            }

        }

        .active {
            background-color: $apigeeApplicationName !important;

            .go-home{
                background-color: transparent;

                &:hover{
                    background-color: transparent;
                }
            }
        }

        .active {
            & > a {
                color: $white;

                .caret {
                    opacity: 0.7;
                }
            }
        }
    }
}

.main-nav {
    margin: 0px;
}

.sub-nav {
    position: fixed;
    top: 42px;
    left: -1px;
    right: -2px;
    margin-bottom: 18px;
    background-color: $apigeeApplicationName;
    z-index: 130;
    height: 42px;
    min-width: 880px;
}

.right-header a:hover {
    opacity: 0.9;
}

#header {
    margin: 0;
    padding: 0;
}

#main1 {
    margin: 84px 0 0 0;
    padding: 0;
    min-width: 1080px;
}

#main2 {
    margin: 0;
    padding: 0;
}

#left {
    float: left;
    width: 177px;
    margin: 0;
    padding: 0;
}

#left2 {
    float: left;
    width: 171px;
    margin: 0 0 0 -4px;
    padding: 10px;
    min-height: 1050px;
    border-right: 1px solid #cacaca;
}

#right {
    float: right;
    width: 180px;
    margin: 0;
    padding: 0;
}

#middle {
    margin: 0 180px;
    min-width: 700px;
}

.column-in {
    margin: 0;
    padding: 0px;
}

.cleaner {
    clear: both;
    height: 1px;
    font-size: 1px;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
}


#footer {
    border-top: 1px solid #cacaca;
    height: 50px;
}

//----------------- Navigation --------------------------------------------------------------------
#sidebar-menu {
    //position: absolute;
    //left: 0px;
    width: 155px;
}

#sidebar-menu2 {
    //position: absolute;
    //left: 0px;
    width: 155px;
}

.nav-menu-text {
    padding-left: 10px;
}

.nav-list {
    padding-left: 0px;

    & > li > a {
        text-align: left;
        // .border-radius(5px);
        padding: 10px 0 10px 10px;
        margin: 0 0 0 -2px;
    }

    .active > a {
        //background-color:$redApigee;
        color: $white;

        &:hover {
            color: $redApigee;
            background: $linkHoverBgColor !important;
        }
    }

    .dropdown-menu a {
        text-shadow: 0 0px 0 white;
        font-weight: normal;
        color: $grayApigee;

        &:hover{
            color: $redApigee;
            background: $linkHoverBgColor !important;
        }
    }
}

#system-panel-buttons {
    a {
        margin: 10px 0;
        //border: 1px solid $black;
    }

    .active > a {
        color: $redApigee;
        text-shadow: 1px 1px 0 rgba(255, 59, 0, 0.2);
        font-weight: bold;
    }
}

#application-panel-buttons {
    position: fixed;
    z-index: 10;
    width: 182px;

    .active > a {
        i {
            @extend .icon-white;
        }

        &:hover i {
            @extend .icon-black;
        }
    }
}

#app-end-users-buttons {
    //position:fixed;
    z-index: 10;
    width: 181px;

    .active > a {
        i {
            @extend .icon-white;
        }

        &:hover i {
            @extend .icon-black;
        }
    }
}

#notification-buttons {
    //position:fixed;
    z-index: 10;
    width: 181px;

    .active > a {
        i {
            @extend .icon-white;
        }

        &:hover i {
            @extend .icon-black;
        }
    }
}

#left-collections-content {
    //position:fixed;
    z-index: 10;
    width: 181px;

    li {
        width: 181px;
    }

    .active > a {
        i {
            @extend .icon-white;
        }

        &:hover i {
            @extend .icon-black;
        }
    }
}

.icon-black {
    background-image: image-url("glyphicons-halflings.png");
}

.nav-tabs {
    display: inline-block;
    width: 100%;
}

hr.col-divider {
    width: 160px;
    margin: 0 0 0 10px;
}

//----------Login, Signup, Forgot ------------------------------------------------------------

#login-page, #signup-page {
    margin: 50px auto;
}

#login-area, #signup-area {
    position: relative;
    margin: 100px 0 0 -230px;
    left: 50%;
    border: 1px solid $border;
    @include border-radius(5px 5px 5px 5px);
}

.the-grid {
    background-image: image-url("usergrid_400.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: transparent;
    -webkit-transition: color 2s ease-in; //safari and chrome
    -o-transition: color 2s ease-in; // opera
    -moz-transition: color 2s ease-in; //safari and chrome
    transition: color 2s ease-in; //safari and chrome
    padding-top: 120px;

     p {
        font-size: 14px;
        font-family: palatino;
        font-style: italic;
        padding: 4px;
    }

    &:hover {
        color: #999;
    }
}

.logoUserGrid {
    background-image: image-url("usergrid_200.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 200px;
    overflow: hidden;
    position: relative;
    display: block;
    float: right;
    color: transparent;
    margin:  0;
}

#forgot-password-page {
    iframe {
        width: 100%;
        height: 700px;
        border: 0;
    }
}

#console-frame-page {
    iframe {
        width: 100%;
        height: 700px;
        border: 0;
    }
}

#console-panel {
    width: 100%;

    iframe {
        width: 100%;
        min-height: 900px;
    }
}

//----------Box ------------------------------------------------------------
.console-section {
    min-width: 450px;
    margin: 0;
    //border: solid 1px $h3Color;
    //background: #F2F5F7;
    overflow: show;
    //.border-radius(5px);
    h3 {
        position:relative;
        margin:0;
        font-size: 12pt;
        padding: 10px;
        line-height:18px;
        display: inline-block;
        background: $h3Color;

        .search {
            background-color: $linkHoverBgColor;
            margin-bottom: 0; // remove the default margin on all inputs
        }

        input.search {
            padding-left: 14px;
            padding-right: 14px;
            @include border-radius(14px 0 0 14px);
        }

        select.search {
            padding-left: 14px;
            padding-right: 14px;
            @include border-radius(0px 14px 14px 0px);
        }

        .title {
            cursor: pointer;
        }

        .bar {
            float: right;
            font-size: 12px;
            a {
                padding: 5px 10px;
                //.border-radius(15px);
                color: #007CDC !important;

                &:hover {
                    color: white !important;
                }
            }
        }

        &:after {
            clear: both;
            content: ".";
            display: inline-block;
            height: 0;
            visibility: hidden;
        }
    }

    form {
        margin: 0px;
        display: inline-block;
        width: 460px;
    }

    .form-actions {
        margin-bottom:0px;
        @include border-radius(0 0 5px 5px);
    }

    .console-section-contents {
        position: relative;
        padding: 0;
        line-height: 25px;
        display: block;

        .form-actions {
            margin: 20px -10px -10px;
        }

        &:after{
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
        }
    }
}

.query-path-area{
    height: 450px;
}

//---------------- Panels ---------------------------------------------------------------------
.well {
    background: none;
    border: none;
    box-shadow: none;
}

#application-panel .boxContent{
    background-color:#f2f5f7;
    @include border-radius(0 0 5px 5px);
}

#shell-panel {
    .boxContent {
        font-family: monospace;
        font-size: 14px;
        min-height: 400px;
    }

    textarea {
        font-family: monospace;
        border: none;
        overflow: auto;
        width: 95%;
        outline: none;
        box-shadow: 0 0 0 white inset;
        margin-bottom: 40px;
    }
}

.bottom-space {
    margin-bottom: 15px;
}

.panel-buffer{
    display: none;
    margin-left: 180px
}
//-------------------------------------------------------------------------------------

.form-horizontal .controls span {
    margin-top: 5px;

    &.add-on {
        margin-top:0px;
    }
}

.add-on {
    cursor: pointer;
    padding: 4px 5px !important;
}

//---------------- Notifications panel--------------------------------------------------
.notifcations-form {
    border: 1px solid $border2;
    padding: 15px;
}

//-------------------------------------------------------------------------------------

#resolutionSelect-menu {
    display: none;
}
#ui-datepicker-div {
    display: none;
}
#applicationSelect-menu {
    display: none;
}

#applications-menu a {
    z-index: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown.open .dropdown-toggle{
    color: $white;
}

#application-panel-table {
    table {
        width: 300px;
        margin-left: 10px;

        tr > * {
            text-align: left;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        th {
            font-weight: bold;
            border-top: 1px solid #ccc;
        }

        tr > *:first-child {
            text-align: right;
            padding-right: 5px;
        }
    }
}

/*-----------------------------------------------------------*/

#query-source {
    float: left;
}

/*-----------------------------------------------------------*/
.query-result-row {
    border-top: 0px solid #CCCCCC;
    padding: 0px;
    background: white;

    &:nth-child(2n){
        background: #EEE;
    }

    &:last-child {
        border-radius: 0 0 5px 5px;
    }

    margin: 0px 0px 0px 0px;
}

.query-result-row .query-result-portlet {
    margin: 0 0 5px 21px;
}

.query-result-portlet {
    font-size: 12px;
    border: 1px solid  $h3Color;
    background-color: #eee;
    padding: 0px;
    margin: 0px;
}
.query-result-portlet-title {
    font-size: 12px;
    font-weight: bold;
    background-color: #dadada;
    padding: 2px 4px;
}

.query-result-portlet table {
    width: 100%;
    //border-collapse: separate;
    //border-spacing: 4px;
}

.query-result-portlet td {
    padding: 10px;
}

.query-result-portlet td>div {
    padding: 0px;
}

.query-result-header {
}

.query-result-user-picture {
    width: 50px;
    height: 50px;
    border-right: 1px solid #666;
    line-height: 0px;
}

.query-result-table {
    margin: 0px;

    tr {
        border-bottom: 1px solid $h3Color;

        &:last-child {
            border-bottom: none;
        }
    }
}

.query-result-table-obj {
    tr {
        @extend .zebraRows;

        td {
            line-height: 18px !important;
        }
    }

    .query-result-table-obj tr {
        background: transparent;
        border-top: none;
    }
}

.query-result-td-checkbox input {
    width: 20px;
}

.hidden {
    visibility: hidden;
}

.query-result-td-checkbox {
    background-color: #888;
    vertical-align: middle;
    width: 20px;
    border-right: 1px solid #666;
}

.query-result-td-picture {
    line-height: 0px;
    vertical-align: middle;
    width: 50px;
}

.query-result-td-header-name {
    vertical-align: middle;
    padding: 10px 5px;
}

.query-result-td-header-buttons {
    float: right;
    vertical-align: middle;
    text-align: right;
    padding: 4px 8px;

    button {
        font-size: 12px;
        margin: 0px 0px 0px 0px;
    }

    a {
        font-size: 12px;
        margin: 0px 0px 0px 8px;
        color: #2779AA;
    }
}

.query-result-header-name {
    padding-left: 8px;
    font-size: 13px;
}

.query-result-table-name, .query-result-table-value {
    width: 25%;
    padding: 10px !important;
}

#user-panel-tab-bar , #group-panel-tab-bar, #role-panel-tab-bar {
    margin-left: 40px;

    .tab-button {
        background-color: #ffffff !important;
        opacity: 1 !important;
        color: #1b97d1;
        cursor: pointer !important;

        &:hover{
            background-color:  $linkHoverBgColor !important;
            color: #ffffff;
        }

        &:active{
            background-color: #1b97d1 !important;
            color: #ffffff;
        }

        &.active{
            background-color: #1b97d1 !important;
            color: #ffffff;
        }
    }

    .btn {
        text-shadow: none;
        border: 1px solid #ffffff;
        background-image: none;
        box-shadow: none;
    }
}

.query-button {
    background-color: #cacaca !important;
    opacity: 1 !important;
    color: #ffffff;
    cursor: pointer !important;

    &:hover {
        background-color:  #686868 !important;
        color: #ffffff;
    }

    &:active {
        background-color: #1b97d1 !important;
        color: #ffffff;
    }

    &.active {
        background-color: #1b97d1 !important;
        color: #ffffff;
    }
}

.code-para {
    word-break: normal;
}

.left-column {
    padding-left: 20px;
    padding-top: 10px;
}

.right-column {
    border-right: solid 1px #CCC;
    padding-right: 20px
}

.query-console {
    padding: 0px !important;
}

.outside-link {
    color: $apigeeBlue !important;
    margin-bottom: 10px;
    margin-top: 10px;

    &:hover {
        opacity: 0.7;
    }
}

/*-------------------------------------------------*/
.application-row-name {
    font-weight: bold;
}

/*******************************************************************
 *
 * Users
 *
 *******************************************************************/
#user-panel {
    h3 {
        overflow: hidden;

        img {
            position: absolute;
            left: 0;
            top:0;
            width: 50px;
            height: 50px;
        }

        .user-profile-header-name {
            margin-left: 50px;
            float: left;
            font-size: 18px !important;
        }
    }
}

.console-section-contents.listContent {
    padding: 0px;

    .alphabeticalFilter {
        position: absolute;
        right: 0;
        top:0;
        margin: 10px;
        width: 35px;
        background-color: rgba(0,0,0,.5);
        @include border-radius(10px);

        li {
            display: inline-block;
            width: 35px;
            text-align: center;

            a {
                font-weight: bold;
                color: white;
                line-height: 20px;
                padding: 5px 10px;
            }
        }
    }
}

#users-pagination {
    display: none;

    #users-previous {
        display: none;
    }

    #users-next {
        display: none;
    }
}

.user-profile-header {
    font-family: sans-serif;
    font-weight: bold;
    //border: 1px solid #AED0EA;
    background-color: #DEEDF7;
}

.user-profile-picture {
    float: left;
    position: relative;
    left: -15px;
    top: -15px;
    width: 50px;
    height: 50px;
}

.user-profile-picture-vert-offset {
    margin-left: 50px;
}

#roles-table {
    margin-top: 20px !important;
}

#roles-pagination {
    display: none;

    #roles-previous {
        display: none;
    }

    #roles-next {
        display: none;
    }
}

.user-roles-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #AED0EA;
    margin-bottom: 16px;
    padding-bottom: 8px;
    margin-top: 30px;
}

.user-role-row {
    font-size: 18px;
    margin-bottom: 16px;
}

.user-role-row-name {
    font-size: 14px;
    font-family: monospace;
    color: #404040;
}

.user-permissions-title {
    margin-top: 32px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #AED0EA;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.user-group-row {
    font-size: 18px;
    margin-bottom: 16px;
}

.user-group-row-name {
    font-size: 14px;
    font-family: monospace;
    color: #404040;
}

#button-users-prev {
    float: left;
}

#button-users-next {
    float: right;
}

/*----------------------------------------------*/
.ui-widget-content {
    background: white;
    border: 1px solid #CCCCCC;
}

.ui-widget-header {
    background: white;
    color: $redApigee;
    border: none;
    border-bottom: 1px solid $border2;
}

.ui-dialog-buttonpane {
    background-color: $modalBar;
    border-top: 1px solid $border2;
    margin-top: 18px;
}

.ui-dialog {
    padding: 0;
}

/*------------ btn-usergrid --------------------------*/
.btn-usergrid,
.btn-usergrid:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-usergrid.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-usergrid {
    background-color: $apigeeOrange;
    background-image: -moz-linear-gradient(top, $apigeeOrange, $apigeeNavSelection);
    background-image: -ms-linear-gradient(top, $apigeeOrange, $apigeeNavSelection);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($apigeeOrange), to($apigeeNavSelection));
    background-image: -webkit-linear-gradient(top, $apigeeOrange, $apigeeNavSelection);
    background-image: -o-linear-gradient(top, $apigeeOrange, $apigeeNavSelection);
    background-image: linear-gradient(top, $apigeeOrange, $apigeeNavSelection);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$apigeeOrange', endColorstr='$apigeeNavSelection', GradientType=0);
    border-color: #C84B27 #C84B27 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-usergrid:hover,
.btn-usergrid:active,
.btn-usergrid.active,
.btn-usergrid.disabled,
.btn-usergrid[disabled] {
    background-color: #C84B27;
}
.btn-usergrid:active, .btn-usergrid.active {
    background-color: #c67605 \9;
}

/*------------ bootstrap --------------------------*/
.analytics-start-time-span {
    width: 500px;
}

.fixSpan1 {
    display: inline-block;
    width: 60px * 1 - 20px;
}

.fixSpan2 {
    display:inline-block;
    width: 60px * 2 - 20px;
}

.fixSpan3 {
    display: inline-block;
    width: 60px * 3 - 20px;
}

/*--------------- Analytics --------------------------------------------------*/
#analytics-graph-table {
    border-collapse: collapse;
    width: 950px;
    margin: 10px 0;
    background-color: #ffffff;

    td, th {
        text-align: center;
        border: 1px solid #ddd;
        padding: 2px;
        font-size: .875em;
        width: 13%;
        vertical-align: middle;
        white-space: nowrap;
    }

    td {
        max-width: 100px;
        min-width: 100px;
        width: auto !important;
    }

    th {
        background-color: #f4f4f4;
    }

    .accessHide {
        position: absolute;
        left: -999999px;
    }

    caption {
        font-size: 1em;
    }
}

#analytics-graph {
    .visualize-labels-x .label {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        font-size: .875em;
        margin-top: 20px;
    }

    .visualize {
        height: 550px !important;
    }
}
/*-----------------------------------------------*/
#application-panel {
    .console-section-contents > .row > div{
        min-width: 200px;
    }
}

.panel-content {
    margin-top: 20px;
}

#api-activity {
    font-size: 14px;
    text-align: center;
    background-color: #fff29e;
    position: absolute;
    top: 49px;
    left: 50%;
    margin-left: -50px;
    z-index: 9999;
    width: 100px;
    @include border-radius(0px 0px 5px 5px);
    display: none;
}

.pager {
    margin: 15px;
    height: 30px;
}

/*-------------- --------------------------------*/
.query-result-form {
    label {
        display: inline-block;
        width: 120px;
        font-weight: bold;
        padding: 5px;
        text-align: right;
    }

    input {
        width: 180px;
        padding: 2px;
        margin: 4px;
    }

    fieldset {
        border: 1px solid #666;
        margin: 8px;
        padding: 4px;

        label {
            width: 107px;
        }
    }

    legend {
        width:auto;
        font-weight: bold;
        padding: 2px;
        margin-bottom: 5px;
    }

    br {
        clear: left;
    }

    .submit input {
        margin-left: 4.5em;
    }
}

.shell-output-line-content {
    margin: 0;
    padding-left: 20px;
    white-space: pre;
    font-size: 14px;
    line-height: 14px;
}

#shell-content * {
    font-family: monospace;
}

/* --------- --------------- ------------*/
#statusbar-placeholder {
    display: none;
    bottom: 0px;
    height: auto;
    position: relative;
    right: 0px;
    left: 0px;
    width: auto;
    z-index: 999;

    .alert {
        display: none;
        padding: 4px 35px 4px 14px;
        margin-bottom: 0px;
    }
}

/*----------- Roles ----------------*/
#role-permissions-form button {
    float: right;
}

#role-permissions .well{
    padding: 10px;

    label{
        margin: 5px;
    }

    button{
        float: right;
    }
}

#role-permissions-table {
    width: auto;

    th {
        font-weight: bold;
    }

    tr {
        vertical-align: middle;
    }

    td {
        vertical-align: middle;
    }

    .role-permission-op {
        width: 50px !important;
        min-width: 50px !important;
        text-align: center;
    }

    .role-permission-path {
        min-width: 100px ;
        //padding-left: 8px;
        text-align: left;
    }
}
/*--------- ------------------------ -------------*/
.suggestionsBox {
    @extend .well;
}

.modal form {
    margin: 0px;
}

.modal-header h4 {
    color: $redApigee;
    font-size: 16px;
    padding: 5px;
}

.modal-footer input {
    float: right;
}

/*-------------------------------*/
.btn-link{
    border: none;
    color: $linkColor;
    box-shadow: none;
    background: transparent;

    &:hover {
        color: $redApigee;
    }
}

.btn-danger {
    color: white !important;

    &:hover {
        color: white !important;
    }
}

.graph {
    margin: 5px -25px 5px 15px;
}

#application-panel-text {
    min-width: 340px !important;
}

.query-result-json-inner {
    border: none;
    margin: 0px;
}

.query-response-empty {
    margin: 15px;
    @extend .alert;
}

#query-response-message {
    margin: 15px;
    @extend .alert;
}

.panel-section-message {
    margin: 25px;
    @extend .alert;
}

.user-panel-section {
    margin: 15px;
}

/*----------------- Activities ------------------*/
#activities-pagination {
    display: none;
}

.gravatar20 {
    padding: 7px 0 0 10px !important;
    margin: 0px;
    width: 30px;
}

.gravatar50-td {
    padding: 0px !important;
    width: 50px;
    border-right: 1px solid $border2;
}

.gravatar50 {
    padding: 0px !important;
    width: 50px;
}

td.checkboxo {
    width: 15px;
    padding: 15px !important;
    border-right: 1px solid $border2;
}

table#organization-admins-table tr td.gravatar20 {
    width: 30px !important;
}

.users-row, .groups-row, .roles-row {
    td {
        line-height: 9px !important;
        vertical-align: middle;
    }

    td.checkboxo {
        padding-top: 15px !important;
    }

    td.details {
        line-height: 25px !important;
        border-right: 1px solid $border2;
    }

    td.view-details {
        line-height: 25px !important;
        width: 75px;
    }

    a.view-details {
        color: $apigeeBlue;
    }
}

/*------------------ Home Page ------------------*/
.table {
    table-layout: fixed;
    margin-bottom: 0px !important;
}

table#roles-table {
    table-layout: auto;

    td.checkboxo {
        padding: 0px;
    }
}

table#organization-admins-table {
    table-layout: auto;
}

.zebraRows {
    background: #eee;
    border-bottom: 1px solid $border2;
    border-left: 1px solid $border2;
    border-right: 1px solid $border2;

    &:nth-child(2n){
        background: white;
    }

    &:last-child {
        @include border-radius(5px);
    }

    td {
        padding: 10px;
    }
}

#organization-admins {
    padding: 0px;

    .alert {
        display: inline-block;
        margin: 15px;
    }

    .admin-row {
        @extend .zebraRows;
    }

    a {
        padding: 10px;
    }

    .admin-row {
        &:last-child {
            border-radius: 0 0 5px 5px;
        }
    }
}

#organization-activities {
    padding: 0px;

    .alert {
        display: inline-block;
        margin: 15px;
    }

    .organization-activity-row:last-child {
        border-radius: 0 0 5px 5px;
    }

    .organization-activity-row{
        @extend .zebraRows;
        line-height: 25px;

        .time {
            color: #888;
            width: 170px;
            display: inline-block;
        }

        img {
            @extend .smallgravatar;
        }

        a {
            padding: 10px;
        }
    }
}

#organizations {
    table-layout: auto !important;
    padding: 0px;

    .alert {
        display: inline-block;
        margin: 15px;
    }

    .row {
        @extend .zebraRows;
    }

    a {
        padding: 3px 10px;
    }
}
/*-----------------------------------------*/

.smallgravatar {
    position: relative;
    top: 2px;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
}

/* ---------------- Dashboard ---------------- */
table .zebraRows {
    background: #eee;

    &:nth-child(2n) {
        background: white;
    }
}

/* --------------- Collections -------------- */
.collection-column {
    width: 80%;
}

a.data-explorer-link {
    color: $linkColor;
}

/* ---------------- Account Panel ------------ */
.leave-org-row td {
    line-height: 25px !important;
}

#update-account-form {
    .control-group, .help-block {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* ---------------- Curl Container ------------ */
.curl-container {
    margin-top: 10px;

    .curl-info, .curl-token {
        padding-left: 5px;
    }

    .input-append {
        position: relative;
    }
}

.side-label {
    display: inline;
}

.horizontal {
    display: inline;
    float: left;
    padding: 5px;
}

#query-collections-caret {
    margin-top: 6px;
}

#organization-name {
    display: inline;
}

.panel-title {
    font-weight: 400;
    font-size: 16px;
    color: $black;
    padding: 0 0 0 10px;
}

.panel-desc {
    font-size: 12px;
    color: #919091;
    padding-left: 10px;
}

.sdk-download {
    margin: 30px auto;
    text-align: center;
}

.wrench {
    background-image: image-url("glyphicons_halflings_135_wrench.png");
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-right: .3em;
}

#application-panel-buttons .active > a i.wrench {
    background-image: image-url("glyphicons_halflings_wrench_white.png") !important;
}

#application-panel-buttons .active > a:hover i.wrench {
    background-image: image-url("glyphicons_halflings_135_wrench.png") !important;
}

//Apigee Specific data
.apigee {
    .logo {
        width: 57px;
    }
}

//Application Menu text
.app-menu{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    float: left;
}

.go-home {
    overflow: hidden;

    .icon-home{
        float: left;
    }

    #organization-name {
        width: 80%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 5px;
    }
}

//General Dropdown Menu overrride
.dropdown-menu {
    max-width: 700px;
}

.bold-header{
    font-weight: 600;
    color: $black;
}

//Notifications
.notifications-get-started {
    padding: 20px 20px 0 20px;
    border-bottom: 1px solid $border2;

    a {
        color: $linkColor;
    }

    .header {
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 5px;
    }
}