
  <td class="checkboxo">
    <input class="queryResultItem" type="checkbox" name="entity" value="${uuid}" />
  </td>
  <td class="gravatar50-td">
    <img class="gravatar50" src="{{if picture}}${picture}{{else}}images/user-photo.png{{/if}}" />
  </td>
  <td class="details">
      {{if path}}
        <a href="" onclick="Usergrid.console.pageOpenQueryExplorer('${path}'); return false;">
          ${username}
        </a>
      {{/if}}
  </td>
  <td class="details">
     ${name}
  </td>
  <td class="view-details">
    <button class="query-result-header-toggle-json btn">JSON</button>
  </td>

