
<tr class="zebraRows users-row">
  <td class="checkboxo">
    <input class="userListItem" type="checkbox" name="${name}" value="${uuid}" />
  </td>
  <td class="gravatar50-td">
    <img src="${picture}" class="gravatar50"/>
  </td>
  <td class="details">
      <a href="" onclick="Usergrid.console.pageOpenUserProfile('${username}'); return false;">${username}</a>
  </td>
  <td class="details">
     ${name}
  </td>
  <td class="view-details">
    <a href="" onclick="Usergrid.console.pageOpenUserProfile('${username}'); return false;" class="view-details">View Details</a>
  </td>
</tr>
