<table class="query-result-table">
  <tr class="query-result-header">
    <td class="query-result-td-checkbox">
      <input type="checkbox" name="${entity.type}" value="${entity.uuid}" id="query-result-item" />
    </td>
    <td class="query-result-td-header-name">
      <div class="query-result-header-name">
        {{if path}}<a href="" onclick="Usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
          ${name}
        {{if path}}</a>{{/if}}
      </div>
    </td>
    <td class="query-result-td-header-buttons btn-group">
      <button class="query-result-header-toggle-contents btn">Contents</button>
      <button class="query-result-header-toggle-json btn">JSON</button>
    <td>
  </tr>
</table>
{{if collections}}
<div class="query-result-collections query-result-portlet">
  <div class="query-result-portlet-title">Collections</div>
  {{html $item.makeObjectTable(collections, $item.tableOpts, "all_collections") }}
</div>
{{/if}}
<div class="query-result-contents query-result-portlet">
  <div class="query-result-portlet-title">Contents</div>
  {{html $item.makeObjectTable(entity, $item.tableOpts)}}
</div>
<div class="query-result-json query-result-portlet">
  <div class="query-result-portlet-title">JSON</div>
  <div class="query-result-json-border">
    <pre class="query-result-json-inner">${JSON.stringify(entity, null, "  ")}</pre>
  </div>
</div>
