
<tr class="zebraRows users-row">
  <td class="checkboxo">
    <input class="userListItem" type="checkbox" name="${name}" value="${uuid}" />
  </td>
  <td class="gravatar50-td">
    <img src="${picture}" class="gravatar50"/>
  </td>
  <td class="user-details">
      <a href="" onclick="Usergrid.console.pageOpenUserProfile('${username}'); return false;">${username}: ${name}</a>
  </td>
  <td class="user-details">
     ${name}
  </td>
  <td class="view-details">
    <a href="" class="view-details">View Details</a>
  </td>
</tr>

<!--
<div>
  <div style="float: left; width: 50px">
    <input class="userListItem" type="checkbox" name="${name}" value="${uuid}" />
  </div>
  <div style="float: left; width: 50px">
    <img src="${picture}" class="gravatar50"/>
  </div>
  <div style="float: left; width: 100%">
    {{if uuid}}
      <a href="" onclick="Usergrid.console.pageOpenUserProfile('${username}'); return false;">${username}: ${name}</a>
    {{else}}
      ${username}: ${name}</a>
    {{/if}}
  </div>
  <div style="clear:both;"></div>
</div>
-->