<div class="console-section">
  <div class="well thingy">
    {{if path}}<span class="title" href="" onclick="Apigee.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
      ${name}
    {{if path}}</span>{{/if}}
    <div class="bar">
      <a id="selectAllGroupMemberships" class="" href="#" onclick="Apigee.console.selectAllGroupMemberships();"> Select All </a>
      <a id="deselectAllGroupMemberships" style="display: none;" class="" href="#" onclick="Apigee.console.deselectAllGroupMemberships();"> Deselect All </a>
      <a class="" data-toggle="modal" href="#dialog-form-add-user-to-group">Add a User to this Group</a>
      <a data-toggle="modal" href="#" onclick="Apigee.console.removeGroupFromUser('${uuid}'); return false;"> Remove </a>
      <input type="hidden" value="${uuid}" id="search-user-groupid" name="search-user-groupid" >
    </div>
  </div>
  {{if memberships}}
  <table class="table">
    {{each memberships}}
    <tr class="zebraRows">
      <td class="checkboxo"><input type="checkbox" name="${name}" id="userGroupItem" value="${$value.uuid}" /></td>
      <td>${$value.username}: ${$value.name}</td>
    </tr>
    {{/each}}
  </table>
  {{else}}
  <div class="group-panel-section-message">No Group Memberships</div>
  {{/if}}
</div>
