<div class="console-section">
  <div class="well thingy">
    {{if path}}<span class="title" href="" onclick="Usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
      ${name}
    {{if path}}</span>{{/if}}
  </div>
  {{if activities}}
  {{each activities}}
  <table>
    <tr>
      <td>
        ${$index + 1}: ${$value.actor.displayName} (${$value.actor.email})
      </td>
      <td>
        ${$value.content}
      </td>
      <td>
        ${$value.verb}:
      </td>
    </tr>
  </table>
  {{/each}}
  {{else}}
  <div class="panel-section-message">No Group Activities</div>
  {{/if}}
</div>
<div id="group-panel-activities-curl-container" class="curl-container">
</div>
