<table class="query-result-table">
	<tr class="query-result-header">
		<td class="query-result-td-picture gravatar50-td"><img class="gravatar50" src="{{if picture}}${picture}/?d=http://${window.location.host + window.location.pathname}images/user_profile.png{{else}}images/user_profile.png{{/if}}" /></td>
		<td class="query-result-td-header-name">
			<div class="query-result-header-name{{if picture}} query-result-picture-vert-offset{{/if}}">
				{{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
				${name}
				{{if path}}</a>{{/if}}
			</div>
		</td>
		<td class="query-result-td-header-buttons btn-group">
            <button class="query-result-header-toggle-contents btn">Contents</button>
			<button class="query-result-header-toggle-json btn">JSON</button>
		</td>
	</tr>
</table>
<div class="query-result-contents query-result-portlet">
	<div class="query-result-portlet-title">Contents</div>
	{{html $item.makeObjectTable(entity, $item.tableOpts)}}
</div>
<div class="query-result-json query-result-portlet" style="display: none">
	<div class="query-result-portlet-title">JSON</div>
	<div class="query-result-json-border">
		<pre class="query-result-json-inner">${JSON.stringify(entity, null, "  ")}</pre>
	</div>
</div>
