<table class="query-result-table">
  <tr class="query-result-header">
    <td class="query-result-td-checkbox"><input type="checkbox" name="${entity.type}" value="${entity.uuid}" id="queryResultItem" /></td>
    <td class="query-result-td-header-name">
      <div class="query-result-header-name">
        {{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
          ${name}
          {{if path}}</a>{{/if}}
      </div>
    </td>
    <td class="query-result-td-header-buttons btn-group">
      {{if collections}}<button class="query-result-header-toggle-collections btn">Collections</button>{{/if}}
      <button class="query-result-header-toggle-contents btn" >Contents</button>
      <button class="query-result-header-toggle-json btn">JSON</button>
    <td>
  </tr>
</table>
