<div class="console-section">
	<h3>
        {{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
        ${name}
        {{if path}}</a>{{/if}}
	</h3>
	<div class="console-section-contents">
		<div class="group-panel-section">
			{{if activities}}
			{{each activities}}
			<div>${$index + 1}: <em>${$value}.</em></div>
			{{/each}}
			{{else}}
			<div class="group-panel-section-message">No Group Activities</div>
			{{/if}}
		</div>
	</div>
</div>
