<div class="console-section">
  <div class="well thingy">
    {{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
      ${name}
    {{if path}}</a>{{/if}}
  </div>
  <div class="group-panel-section">
    {{if roles}}
    <div class="group-roles-title">Roles</div>
    {{each roles}}
    <div class="group-role-row" id="group-role-row-${$index}">
      <a href="" onclick="usergrid.console.pageOpenRole('${$index}'); return false;">
        <span class="group-role-row-title">${$value}</span>
        <span class="group-role-row-name">(${$index})</span>
      </a>
    </div>
    {{/each}}
    {{else}}
    <div class="group-panel-section-message">No Roles</div>
    {{/if}}
  </div>
</div>
