<div class="query-result-row entity_list_item">
	<table class="query-result-table">
		<tr class="query-result-header">
			<td class="query-result-td-checkbox"><input type="checkbox" name="${name}" id="${id}" value="${entity.uuid}" /></td>
			<td class="query-result-td-header-name">
                <div class="query-result-header-name query-result-picture-vert-offset">
                    {{if path}}<a href="" onclick="usergrid.console.pageOpenGroupProfile('${entity.uuid}'); return false;">{{/if}}
                    <strong>${title} :</strong> ${name}
                    {{if path}}</a>{{/if}}
                </div>
			</td>
		</tr>
	</table>
</div>
