<h3> 
  <span id="role-section-title" class="title">Users</span>
  <div class="bar">
    <a id="selectAllRolesUsers" class="" href="#" onclick="usergrid.console.selectAllRolesUsers();"> Select All </a>
    <a id="deselectAllRolesUsers" style="display: none;" class="" href="#" onclick="usergrid.console.deselectAllRolesUsers();"> Deselect All </a>
    <a data-toggle="modal" href="#dialog-form-add-role-to-user">Add </a>
    <a data-toggle="modal" href="#" onclick="usergrid.console.deleteRoleFromUser('${data.rolename}', '${data.roleId}'); return false;"> Remove </a>
  </div>
</h3>
{{if data.users}}
  <table class="table">
    {{each data.users}}
      <tr class="zebraRows users-row">
        <td class="checkboxo"><input type="checkbox" name="${name}" class="userRoleItem" value="${uuid}" /></td>
        <td class="gravatar50"><img src="{{if picture}}${picture}{{else}}images/user_profile.png{{/if}}" /></td>
        <td class="user-details">{{if uuid}}<a href="" onclick="usergrid.console.pageOpenUserProfile('${uuid}'); return false;">{{/if}}${name}{{if uuid}}</a>{{/if}}</td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <div class="group-panel-section-message">No Users have this Role</div>
{{/if}}
