<div id="information-saved" class="alert" style="display: none;"></div>
<div class="console-section">
	<h3>
		{{if picture}}<img src="${picture}" class="user-profile-picture" />{{/if}}
		<div class="user-profile-header-name{{if picture}} user-profile-picture-vert-offset{{/if}}">
			{{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
			${name}
			{{if path}}</a>{{/if}}
		</div>
        <div class="bar">
            <a href="#" onclick="usergrid.console.saveUserProfile('${username}'); return false;"> Save User </a>
        </div>
	</h3>
	<div class="console-section-contents listContent">
		<div class="query-result-edit query-result-portlet">
			<div class="query-result-portlet-title">Edit</div>
			<div class="query-result-form"></div>
		</div>
		{{if collections}}
		<div class="query-result-collections query-result-portlet">
			<div class="query-result-portlet-title">Collections</div>
			{{html $item.makeObjectTable(collections, $item.tableOpts, "all_collections") }}
		</div>
		{{/if}}
		<div class="query-result-contents query-result-portlet">
			<div class="query-result-portlet-title">Contents</div>
			{{html $item.makeObjectTable(entity, $item.tableOpts)}}
		</div>
		{{if metadata}}
		<div class="query-result-metadata query-result-portlet">
			<div class="query-result-portlet-title">Metadata</div>
			{{html $item.makeObjectTable(metadata, $item.metadataTableOpts) }}
		</div>
		{{/if}}
		<div class="query-result-json query-result-portlet" style="display: none">
			<div class="query-result-portlet-title">JSON</div>
			<div class="query-result-json-border">
				<pre class="query-result-json-inner">${JSON.stringify(entity, null, "  ")}</pre>
			</div>
		</div>
	</div>
</div>
