<table class="query-result-table">
	<tr class="query-result-header">
		<td class="query-result-td-picture"><img src="{{if picture}}${picture}{{else}}images/user_profile.png{{/if}}" class="query-result-user-picture" /></td>
		<td class="query-result-td-header-name">
			<div class="query-result-header-name{{if picture}} query-result-picture-vert-offset{{/if}}">
				{{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
				${name}
				{{if path}}</a>{{/if}}
			</div>
		</td>
		<td class="query-result-td-header-buttons btn-group">
            <button class="query-result-header-toggle-contents btn">Contents</button>
			<button class="query-result-header-toggle-json btn">JSON</button>
		</td>
	</tr>
</table>
<!--
<div class="query-result-edit query-result-portlet">
	<div class="query-result-portlet-title">Edit</div>
	<div class="query-result-form"></div>
</div>

{{if collections}}
<div class="query-result-collections query-result-portlet">
	<div class="query-result-portlet-title">Collections</div>
	{{html $item.makeObjectTable(collections, $item.tableOpts, "all_collections") }}
</div>
{{/if}}
-->
<div class="query-result-contents query-result-portlet">
	<div class="query-result-portlet-title">Contents</div>
	{{html $item.makeObjectTable(entity, $item.tableOpts)}}
</div>
<div class="query-result-json query-result-portlet" style="display: none">
	<div class="query-result-portlet-title">JSON</div>
	<div class="query-result-json-border">
		<pre class="query-result-json-inner">${JSON.stringify(entity, null, "  ")}</pre>
	</div>
</div>