<div class="console-section">
	<h3>
		{{if picture}}<img src="${picture}" class="user-profile-picture" />{{/if}}
		<div class="user-profile-header-name{{if picture}} user-profile-picture-vert-offset{{/if}}">
			{{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
			${name}
			{{if path}}</a>{{/if}}
		</div>
        <div class="bar">
            <a data-toggle="modal" href="#dialog-form-add-user-to-role"></i> Add </a>
            <a data-toggle="modal" href="#" onclick="usergrid.console.deleteUserFromRoles();"></i> Delete </a>
        </div>
	</h3>
	<div class="console-section-contents">
		<div class="user-panel-section">
			<div class="user-roles-title">Roles</div>
			{{if roles}}
			{{each roles}}
			<div class="user-role-row" id="user-role-row-${$index}">
				<a href="" onclick="usergrid.console.pageOpenRole('${$index}'); return false;">
					<span class="user-role-row-title">${$value}</span>
					<span class="user-role-row-name">(${$index})</span>
				</a>
			</div>
			{{/each}}
			{{else}}
			<div class="user-panel-section-message">No Roles</div>
			{{/if}}
		</div>
		<div class="user-panel-section">
			<div class="user-permissions-title">Permissions</div>
			{{if permissions}}
			{{each permissions}}
			<div data-permission="${$value}"><em>${$value}</em></div>
			{{/each}}
			{{else}}
			<div class="user-panel-section-message">No User-specific Permissions</div>
			{{/if}}
		</div>
	</div>
</div>
