
{{if permissions}}
<table id="role-permissions-table" data-permission="${$index}">
	<tr>
		<th></th>
		<th>All</th>
		<th>Get</th>
		<th>Post</th>
		<th>Put</th>
		<th>Delete</th>
		<th>Path</th>
	</tr>
{{each permissions}}
	<tr>
		<td class="role-permission-delete"><div class="ui-icon ui-icon-close" onclick="usergrid.console.deleteRolePermission('${role}', '${$value.path}'); return false;"></div></td>
		<td class="role-permission-op">{{if $value.ops['*']}}<div class="ui-icon ui-icon-check"></div>{{/if}}</td>
		<td class="role-permission-op">{{if $value.ops.get}}<div class="ui-icon ui-icon-check"></div>{{/if}}</td>
		<td class="role-permission-op">{{if $value.ops.post}}<div class="ui-icon ui-icon-check"></div>{{/if}}</td>
		<td class="role-permission-op">{{if $value.ops.put}}<div class="ui-icon ui-icon-check"></div>{{/if}}</td>
		<td class="role-permission-op">{{if $value.ops.delete}}<div class="ui-icon ui-icon-check"></div>{{/if}}</td>
		<td class="role-permission-path">${$value.path}</td>
	</tr>
{{/each}}
	<tr>
		<td class="role-permission-delete"></td>
		<td class="role-permission-op"><input id="role-permission-op-checkbox" type="checkbox" name="all" value="all" /></td>
		<td class="role-permission-op"><input id="role-permission-op-checkbox" type="checkbox" name="get" value="get" /></td>
		<td class="role-permission-op"><input id="role-permission-op-checkbox" type="checkbox" name="post" value="post" /></td>
		<td class="role-permission-op"><input id="role-permission-op-checkbox" type="checkbox" name="put" value="put" /></td>
		<td class="role-permission-op"><input id="role-permission-op-checkbox" type="checkbox" name="delete" value="delete" /></td>
		<td id="role-permission-path-entry-td" class="role-permission-path"><input id="role-permission-path-entry-input" type="text" name="path" value="/" /></td>
	</tr>
</table>
{{else}}
<div class="user-panel-section-message">No Permissions</div>
{{/if}}
