<div class="query-result-row entity_list_item table">
  <table class="query-result-table activities-table">
    <tr class="">
      <!--<td class="query-result-td-checkbox"><input type="checkbox" name="${name}" id="${id}" value="${entity.uuid}" /></td>-->
        <td class="created">
          ${created} <br />
          <strong>${entity.content}</strong>
        </td>
        <td class="actor">
           <img src="${entity.actor.gravatar}"/>
           <a href="" onclick="usergrid.console.pageOpenUserActivities('${uuid}'); return false;"> 
              <strong>${entity.actor.displayName} (${email})</strong>
           </a>
        </td>
        <td class="verb">
          ${entity.verb}
        </td>
    </tr>
  </table>
</div>
