<div class="console-section">
	<h3>
		{{if picture}}<img src="${picture}" class="user-profile-picture" />{{/if}}
		<div class="user-profile-header-name{{if picture}} user-profile-picture-vert-offset{{/if}}">
			{{if path}}<a href="" onclick="usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}
			${name}
			{{if path}}</a>{{/if}}
		</div>
		<div style="clear: both;"> </div>
	</h3>
	<div class="console-section-contents">
			{{if activities}}
			{{each activities}}
			<div>${$index + 1}: <em>${$value}.</em></div>
			{{/each}}
			{{else}}
			<div class="user-panel-section-message">No User Activities</div>
			{{/if}}
	</div>
</div>
