.idea
jssecacerts
.sonar-ide.properties
.clover
atlassian-ide-plugin.xml
s101plugin.state
s101plugin.properties
structure-pom.xml
*.DS_Store
hector.iml
releases
target
tmp
bin
build
.classpath
.project
.settings
out
*.svn
*.ipr
*.iws
*.iml
*~
DS_Store
/.DS_Store
*.class
.class

/console/.gitignore
/websocket/${activemq.base}/
/tools/export/
/config/src/main/resources/usergrid-deployment.properties
/config/src/test/resources/usergrid-custom-test.properties
/standalone/usergrid-custom-standalone.properties
/rest/src/main/resources/usergrid-deployment.properties

usergrid-custom*

tools/applications.json
tools/applications.wadl
tools/management.json
tools/management.wadl

core/src/main/java/QueryFilter.tokens
*.log
/release.properties
*.sfx*
*.db
!/tools/src/main/dist/usergrid-custom-tools.properties
