#
# Copyright Apigee Corporation
# All Rights Reserved
#

# Enable Disable APM
ApigeeAPMEnabled=true

# Deployment environment
DeploymentEnvironment=ug-max-dit

# Note the trailing slash. It's internal ELB URL for mAX REST Server.
ApmRestServerUrl=http://dlb00max-1919709199.us-west-2.elb.amazonaws.com/

# Org specific APM internal ELB urls for customers with dedicated system for APM (max)
walgreens=http://blahwalgreens.elb.amazonaws.com
sony=http://blahsony.elb.amazonaws.com
