
<a name="op-{{opId}}"/>

<div class="panel panel-default">
    
    <div class="panel-heading {{method}}">
        <h2 class="panel-title {{method}}-heading">{{method}} {{url}} 
            <a data-toggle="collapse" data-target="#op-{{opId}}"
                href="#op-{{opId}}" class="collapsed collapse-button"> </a>
        </h2>
    </div>
    
    <div id="op-{{opId}}" class="panel-body collapse">

        <p>{{description}}</p>

        <h3>Parameters</h3>

        <ul>
            {{#parameters}}
                <li>
                    <b>{{name}}</b> ({{#type}}{{type}}{{/type}}{{#schemaRef}}<a href="#{{schemaAnchor}}">{{schemaRef}}</a>{{/schemaRef}})<br>
                    {{description}} (Specified in {{in}}).
                </li>
            {{/parameters}}
        </ul>

        <h3>Responses</h3>

        <ul>
            {{#responses}}
                <li>
                    <b>{{#status}}{{status}}{{/status}}{{^status}}Default{{/status}}</b>
                    <ul>
                        <li>Description: {{description}}</li>
                        <li>Schema: [<a href="#{{schemaAnchor}}">{{schema}}</a>]</li>
                    </ul>
                </li>
            {{/responses}}
        </ul>     
        
    </div>
    <!--<div class="panel-footer"></div>-->
</div>
