<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<!DOCTYPE module PUBLIC 
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
  <property name="severity" value="warning"/>

  <!-- ===================================================================== -->
  <module name="JavadocPackage"/>
  <!-- ===================================================================== -->

  <!-- ===================================================================== -->
  <module name="FileTabCharacter">
    <property name="severity" value="error"/>
    <property name="eachLine" value="true"/>
  </module>
  <!-- ===================================================================== -->

  <!-- ===================================================================== -->
  <module name="NewlineAtEndOfFile"/>
  <!-- ===================================================================== -->

  <!-- ===================================================================== -->
  <module name="RegexpHeader">
    <property name="severity" value="error"/>
    <property name="header" value="\/\*\n \* Licensed to the Apache Software Foundation \(ASF\) under one or more\n \* contributor license agreements.  See the NOTICE file distributed with\n \* this work for additional information regarding copyright ownership.\n \* The ASF licenses this file to You under the Apache License, Version 2.0\n \* \(the &quot;License&quot;\); you may not use this file except in compliance with\n \* the License.  You may obtain a copy of the License at\n \*\n \*      http://www.apache.org/licenses/LICENSE-2.0\n \*\n \* Unless required by applicable law or agreed to in writing, software\n \* distributed under the License is distributed on an &quot;AS IS&quot; BASIS,\n \* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n \* See the License for the specific language governing permissions and\n \* limitations under the License.\n \*\/\n\n"/>
  </module>
  <!-- ===================================================================== -->

  <!-- ===================================================================== -->
  <module name="RegexpSingleline">
    <property name="format" value="\s+$"/>
    <property name="message" value="Line has trailing spaces."/>
  </module>
  <!-- ===================================================================== -->

  <!-- ===================================================================== -->
  <module name="RegexpSingleline">
    <property name="format" value="@author"/>
    <property name="message" 
              value="Use of @author javadoc keyword is prohibited."/>
  </module>
  <!-- ===================================================================== -->

  <!-- ===================================================================== -->
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CSOFF\: ([\w\|]+)"/>
    <property name="onCommentFormat" value="CSON\: ([\w\|]+)"/>
    <property name="checkFormat" value="$1"/>
  </module>
  <!-- ===================================================================== -->

  <!-- ===================================================================== -->
  <module name="TreeWalker">
    <property name="tabWidth" value="4"/>
    <property name="cacheFile" value="target/cachefile"/>

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="LineLength">
      <property name="max" value="120"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <!--
    <module name="ParenPad">
      <property name="option" value="space"/>
      <property name="tokens" value="CTOR_CALL,METHOD_CALL,SUPER_CTOR_CALL,LPAREN,RPAREN"/> 
    </module>
    -->
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="AnnotationUseStyle"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="ArrayTypeStyle"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="AvoidNestedBlocks"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="AvoidStarImport">
      <property name="severity" value="error"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="ConstantName">
      <property name="format" value="^([A-Z](_?[A-Z0-9]+)*)|(log)$"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="DefaultComesLast"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="EmptyBlock">
      <property name="tokens" value="LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_TRY,LITERAL_WHILE,STATIC_INIT"/>
      <property name="option" value="text"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="EmptyStatement"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="EqualsHashCode"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <!-- <module name="ExplicitInitialization"/> produces 795 new errors -->
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="FileContentsHolder"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="FinalClass"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <!--module name="HideUtilityClassConstructor"/ -->
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="IllegalImport"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="ImportOrder">
      <property name="option" value="bottom"/>
      <property name="groups" value="java,javax,org.apache,org.apache.usergrid,com,org.apache.usergrid,org,net"/>
      <property name="separated" value="true"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="InnerAssignment">
      <property name="tokens" 
        value="BAND_ASSIGN,BOR_ASSIGN,BSR_ASSIGN,BXOR_ASSIGN,DIV_ASSIGN,MINUS_ASSIGN,MOD_ASSIGN,PLUS_ASSIGN,SL_ASSIGN,SR_ASSIGN,STAR_ASSIGN"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="LeftCurly">
      <property name="option" value="eol"/>
      <property name="tokens"
       value="CLASS_DEF,CTOR_DEF,INTERFACE_DEF,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,METHOD_DEF"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="LocalFinalVariableName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="LocalVariableName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="MemberName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="MethodName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="MethodParamPad"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="MissingSwitchDefault"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="ModifierOrder"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="MultipleVariableDeclarations"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="NeedBraces">
      <property name="tokens" value="LITERAL_DO,LITERAL_ELSE,LITERAL_IF,LITERAL_FOR,LITERAL_WHILE"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="NoWhitespaceAfter">
      <property name="allowLineBreaks" value="false"/>
      <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS"/>
    </module>
    
    <!--
    <module name="NoWhitespaceAfter">
      <property name="allowLineBreaks" value="true"/>
      <property name="tokens" value="ARRAY_INIT"/>
    </module>
    -->
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="OneStatementPerLine"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="OperatorWrap"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="PackageName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="ParameterName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="RedundantImport"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="RedundantModifier"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="RightCurly">
      <property name="option" value="alone"/>
      <property name="tokens" value="LITERAL_TRY,LITERAL_CATCH,LITERAL_FINALLY,LITERAL_IF,LITERAL_ELSE"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="StaticVariableName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="TypeName"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="TypecastParenPad">
      <property name="option" value="space"/>
      <property name="tokens" value="RPAREN,TYPECAST"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="UnusedImports"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="UpperEll"/>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="WhitespaceAfter">
      <property name="tokens" value="COMMA,SEMI"/> 
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->
    <module name="WhitespaceAround">
      <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN"/>
      <property name="ignoreEnhancedForColon" value="false"/>
    </module>
    <!-- ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... -->

  </module>
  <!-- ===================================================================== -->

</module>
