<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="stdout">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p (%t) [%c] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <logger name="org.apache">
        <level value="error"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.usergrid.persistence.cassandra.CounterUtils">
        <level value="warn"/>
    </logger>
     <logger name="org.usergrid.mq.cassandra.io" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>