<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="organization" value="ORGANIZATION_NAME" />
		<add key="application" value="APPLICATION_NAME" />
		
		<add key="clientId" value="CLIENT_ID" />
		<add key="clientSecret" value="CLIENT_SECRET" />
		<add key="userId" value="USER_ID" />
		<add key="userSecret" value="USER_SECRET" />
	</appSettings>
</configuration>
