<configuration>
	<appSettings>
		<add key="organization" value="ORGANIZATION_NAME" />
		<add key="application" value="APPLICATION_NAME" />
		<add key="clientId" value="CLIENT_ID" />
		<add key="clientSecret" value="CLIENT_SECRET" />
		<add key="applicationId" value="APPLICATION_ID" />
		<add key="applicationSecret" value="APPLICATION_SECRET" />
 		<add key="userId" value="USER_ID" />
		<add key="userSecret" value="USER_SECRET" />
	    <add key="P12CertificatePath" value="C:\Path_to\certificate.p12" />
		<add key="googleApiKey" value="AIzaSyBwPpMkW6FWW-XXXXXXXXXXXXX" />
</appSettings>
</configuration>