<div class="console-section">
  <div class="well thingy">
    {{if picture}}<img src="${picture}" class="user-profile-picture" />{{/if}}
    <div class="title">
      {{if path}}<a href="" onclick="Usergrid.console.pageOpenQueryExplorer('${path}'); return false;">{{/if}}${name}{{if path}}</a>{{/if}}
    </div>
    <div class="bar">
      <a class="btn btn-primary" data-toggle="modal" href="#dialog-form-follow-user">Follow User</a>
      <input type="hidden" value="${username}" id="search-follow-username" name="search-follow-userid">
    </div>
  </div>

  <div class="console-section-contents">
    <div class="user-roles-title">Following </div>
    <div class="user-panel-section">
      {{if following}}
      {{if following.length > 0}}
      <div class="query-result-row entity_list_item" id="users-roles-following-table">
        <table class="table table-bordered">
          <tbody>
            {{each following}}
            <tr class="zebraRows">
              <td class="query-result-td-header-name">
                <div class="query-result-header-name query-result-picture-vert-offset">
                  {{if path}}
                  <a href="" onclick="Usergrid.console.pageOpenUserProfile('${username}'); return false;">
                    <span class="user-role-row-name">${username}</span>
                    <span class="user-role-row-title"><a href="mailto:${email}">${email}</a></span>
                  </a>
                  {{/if}}
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/if}}
      {{else}}
      <div class="panel-section-message">Not following anyone</div>
      {{/if}}
      <br/>
    </div>
    <div id="user-panel-following-curl-container" class="curl-container">
    </div>
    <br/>
    <div class="user-roles-title">Followers </div>
    <div class="user-panel-section">
      {{if followers}}
      {{if followers.length > 0}}
      <div class="query-result-row entity_list_item" id="users-roles-followed-table">
        <table class="table table-bordered">
          <tbody>
            {{each followers}}
            <tr class="zebraRows">
              <td class="query-result-td-header-name">
                <div class="query-result-header-name query-result-picture-vert-offset">
                  {{if path}}
                  <a href="" onclick="Usergrid.console.pageOpenUserProfile('${username}'); return false;">
                    <span class="user-role-row-name">${username}</span>
                    <span class="user-role-row-title"><a href="mailto:${email}">${email}</a></span>
                  </a>
                  {{/if}}
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/if}}
      {{else}}
      <div class="panel-section-message">No followers</div>
      {{/if}}
      <br/>
    </div>
    <div id="user-panel-followers-curl-container" class="curl-container">
    </div>
  </div>
</div>
